@font-face{
  font-family: 'Quicksand', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);
  font-family: 'Amatic SC', cursive;
  src: url(https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap);
}

body{
  background-image: linear-gradient(rgba(77, 143, 209, 0.5) , rgba(242, 186, 73, 0.5));
}

.gif img{
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: 5px;
}

h1 {
  text-decoration: underline;
  text-decoration-color: #F2BA49;
  font-family: 'Quicksand';
  text-align: center;
  font-size: 50px;
}

p{
  display: inline;
  font-size: 35px;
  color: #4D90D1;
  font-family: 'Amatic SC';
}

#cToF, #converter, #fahrenheit{
  font-family: 'Quicksand';
}


.search, .favoriteButton{
  background-color: white;
  border: 3px solid #F2BA49;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 23px;
  font-family: 'Quicksand';
}

#search{
  width: 150px;
  height: 70px;
  font-size: 15px;
}

h3{
  text-decoration: underline;
  text-decoration-color: #F2BA49;
}

#weatherResult ul, #favoritesResult ul, #cToF, #converter, #fahrenheit{
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  font-family: 'Quicksand';
}

.weather-image{
  max-height: 100px;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 5%;
  margin-top: 5%;
}

.weather-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#form, #savedList, #temperatureConverter, #cToF, #converter, #fahrenheit{
  text-align: center;
  margin-top: 5%;
}

#end-note{
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #4D90D1;
  font-family: 'Quicksand';
  font-size: 23px;
  color: black;
  margin-top: 10%;
}

/*GEEN EIGEN CSS CODE*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /*EINDE GEEN EIGEN CSS CODE*/

/*MEDIA QUERY*/
  @media screen and (max-width: 768px){
    h1{
      font-size: 30px;
    }
    
    p{
      font-size: 27px;
    }

    .search, .favoriteButton{
      border: 2px solid #F2BA49;
      width: 170px;
      height: 50px;
      font-size: 18px;
    }

    #weatherResult ul, #favoritesResult ul, #cToF, #converter, #fahrenheit{
      list-style-type: none;
      text-align: center;
      font-size: 18px;
    }

    .gif img{
      width: 70px;
      height: 70px;
    }

    #fahrenheit{
      margin-bottom: 22%;
    }
  }

  @media screen and (max-width: 600px){
    h1{
      font-size: 23px;
    }

    #weatherResult ul, #favoritesResult ul, #cToF, #converter, #fahrenheit{
      list-style-type: circle;
      text-align: left;
      font-size: 15px;
      margin-left: 7%;
    }

    .search, .favoriteButton{
      border: 2px solid #F2BA49;
      width: 150px;
      height: 40px;
      font-size: 15px;
    }

    .gif img{
      width: 50px;
      height: 50px;
      margin-left: 3%;
    }

    #fahrenheit{
      margin-bottom: 40%;
    }

  }
